<!doctype html>
<html lang="en" ng-app="shiftCipher">
  <head>
    <meta charset="utf-8">
    <title>Shift Chipher</title>
    <link rel="stylesheet" href="lib/bootstrap-3.3.6-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="css/app.css"/>
  </head>
  <body>
    <div class="container">
      <div ng-controller="shiftCipherController">
        <div class="col-lg-6 shiftcipher">
          <div class="row"><h3 class="col-lg-12">Shift cipher</h3></div>
          <div class="row">
            <label class="col-lg-3">Input text:</label>
            <input class="col-lg-9" type="text" ng-model="inputText">
            <label class="col-lg-3">Shift number:</label>
            <input class="col-lg-5" type="text" ng-model="number">
            <input class="col-lg-4" type="button" ng-click="compute()" value="shift">
          </div>
          <div class="row"><h3 class="col-lg-12">Count occurences of a character in a string</h3></div>
          <div class="row">
            <label class="col-lg-3">Input text:</label>
            <input class="col-lg-9" type="text" ng-model="countInputText">
            <input class="col-lg-2" type="button" ng-click="countOccur()" value="count">
            <input class="col-lg-2" type="button" ng-click="replaceAB(replaceSrc, replaceTrg)" value="replace">
            <input class="col-lg-3" type="text" ng-model="replaceSrc">
            <label class="col-lg-2">with:</label>
            <input class="col-lg-3" type="text" ng-model="replaceTrg">
          </div>
          <div class="row"><h3 class="col-lg-12">Vigénere</h3></div>
          <div class="row">
            <label class="col-lg-3">Input text:</label>
            <input class="col-lg-9" type="text" ng-model="vigInputText">
            <label class="col-lg-3">Key(exa 1,2):</label>
            <input class="col-lg-3" type="text" ng-model="key">
            <input class="col-lg-3" type="button" ng-click="encrypt()" value="Encrypt">
            <input class="col-lg-3" type="button" ng-click="decrypt()" value="Decrypt">
          </div>
          <div class="row"><h3 class="col-lg-12">Prime numbers</h3></div>
          <div class="row">
            <label class="col-lg-3">Input numb 2 -</label>
            <input class="col-lg-9" type="text" ng-model="maxNumber">
            <input class="col-lg-3" type="button" ng-click="PrintPrime()" value="Print">
          </div>
          <div class="row"><h3 class="col-lg-12">Greatest Common Denominator</h3></div>
          <div class="row">
            <label class="col-lg-3">GCD(a,b)</label>
            <input class="col-lg-3" type="text" ng-model="a" placeholder="a">
            <input class="col-lg-3" type="text" ng-model="b" placeholder="b">
            <input class="col-lg-3" type="button" ng-click="PrintGCD(a,b)" value="Print">
          </div>
        </div>
        <div class="col-lg-6 textarea">
          <div class="row"><h1 class="col-lg-12">Message</h1></div>
          <div class="row"><p class="col-lg-12">{{helloMessage}}</p></div>
          <div class="row"><p class="col-lg-12">{{countReturnText}}</p></div>
          <div class="row"><div class="col-lg-12" ng-model="newCountInputText">{{newCountInputText}}</div></div>
        </div>
      </div>
    </div>
    <script src="lib/jquery-2.2.1/jquery-2.2.1.min.js"></script>
    <script src="lib/bootstrap-3.3.6-dist/js/bootstrap.min.js"></script>
    <script src="lib/angular-1.5.0/angular.js"></script>
    <script src="js/shiftCipher.module.js"></script>
    <script src="js/shiftCipher.controller.js"></script>
    <script src="js/shiftCipher.service.js"></script>
  </body>
</html>